@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f3f5;
    color: #343a40;
    font-family: 'Dosis',sans-serif;
}

.playerImgs,.computerImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}
.img{
    width:140px;
    height: 90px;
    border-radius: 50%;
    justify-self: center;
    
}

.reset{
    display: none;
}

.grid-3-cols{
    /* width: 90%; */
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin: 100px auto;

}

.playerSection,.computerSection{
    height: 300px;
    background-color: #91a7ff;
    border-radius: 12px;
    margin: 0 20px;
}

.computerSection{
    background-color: #ff8787;
}
.playerSection h3,.computerSection h3{
    text-align: center;
}
.player-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 24px;
    padding-top: 20px;
    margin-bottom: 40px;
}

.icon
{
    width: 36px;
    height: 36px;
}

.score{
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
}
.score h3{
    margin-top: 20px;
    font-size:24px;
    text-align: center;
}

.score div{
    display: flex;
    align-self: center;
    justify-self: center;
    /* margin-top: 50px; */
    gap:20px;  
}
.winner-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
