@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f3f5;
  color: #343a40;
  font-family: "Dosis", sans-serif;
}

.playerImgs,
.computerImgs {
  /* position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  gap: 2rem;
}

.img {
  width: 140px;
  height: 90px;
  border-radius: 50%;
  justify-self: center;
}

.reset {
  display: none;
}

.grid-3-cols {
  /* width: 90%; */
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin: 100px auto;
}

.playerSection,
.computerSection {
  height: 300px;
  background-color: #91a7ff;
  border-radius: 12px;
  margin: 0 20px;
  position: relative;
}

.computerSection {
  background-color: #ff8787;
}
.playerSection h3,
.computerSection h3 {
  text-align: center;
}
.player-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 24px;
  padding-top: 20px;
  margin-bottom: 40px;
}

.icon {
  width: 36px;
  height: 36px;
}

.icons {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(); */
  background: none;
  border: none;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  color: #3a4366;
  font-size: 2.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0/ 0.2);
  transition: all 0.3s;
}

.comp-icons {
  color: #663636;
}

.icons:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.score {
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
}
.score h3 {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}

.score div {
  display: flex;
  align-self: center;
  justify-self: center;
  /* margin-top: 50px; */
  gap: 20px;
}
.winner-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
